.col-no-top-padding {
  padding-top: 0 !important;
}
.col-no-bottom-padding {
  padding-bottom: 0 !important;
}
.wrapper {
  max-width: 95% !important;
}
.v-radio {
  margin-right: 0.2rem !important;
}
.v-input--selection-controls__input {
  margin-right: 0.3rem !important;
}
.header-section {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.cabinets-added {
  padding-bottom: 1rem;
  color: #1976d2;
}
.col-no-padding {
  padding: 0 !important;
}
#pure-width-left {
  top: 10%;
  position: sticky;
  max-width: 30%;
  left: 100%;
  z-index: 1;
  border: 0.2rem solid rgba(0, 0, 0, 0.12);
  border-radius: 1rem;
  color: white;
  padding: 0.2rem;
  word-break: normal;
}

.negative {
  /* color: red; */
  background-color: #ff5252;
}

.positive {
  /* color: black; */
  background-color: #4caf50;
}
.left-button {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
}
.right-button {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}
.sides-added {
  color: #1976d2;
  text-align: center;
  margin-top: 2rem;
}
.delete-outer-side {
  top: 1rem;
  position: inherit !important;
}
.v-content {
  padding: 0 !important;
}

.v-responsive__content {
  width: auto !important;
}

@media screen and (max-width: 960px) {
  .v-input--selection-controls {
    padding: 0 0 2rem 0 !important;
    margin: 0 !important;
  }
}
.notification a {
  color: #fff !important;
  text-decoration: none !important;
}
@media only screen and (max-width: 600px) {
  .toasted-container.top-center {
    top: 3rem !important;
  }
}
