.col-no-top-padding {
  padding-top: 0 !important;
}
.col-no-bottom-padding {
  padding-bottom: 0 !important;
}
.wrapper {
  max-width: 80% !important;
}
.header-section {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.cabinets-added {
  padding-bottom: 1rem;
  color: #1976d2;
}
.col-no-padding {
  padding: 0 !important;
}
