.col-no-top-padding {
  padding-top: 0 !important;
}
.col-no-bottom-padding {
  padding-bottom: 0 !important;
}
.wrapper {
  max-width: 95% !important;
}
.v-radio {
  margin-right: 0.2rem !important;
}
.v-input--selection-controls__input {
  margin-right: 0.3rem !important;
}
.header-section {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.cabinets-added {
  padding-bottom: 1rem;
  color: #1976d2;
}
.col-no-padding {
  padding: 0 !important;
}
#pure-width-left {
  top: 5%;
  position: sticky;
  max-width: 30%;
  left: 100%;
  z-index: 1;
  border: 0.2rem solid rgba(0, 0, 0, 0.12);
  border-radius: 1rem;
  color: white;
  padding: 0.2rem;
  word-break: break-all;
}

.negative {
  /* color: red; */
  background-color: #ff5252;
}

.positive {
  /* color: black; */
  background-color: #4caf50;
}
